nav{
    text-decoration: none;
    color: gold;
}
nav a:hover{
    color: firebrick;
    background-color: black;
    font-weight: bold;
}
body{
    background-color: maroon;
    color: black
}